body {
    font-family: Arial, Helvetica, sans-serif;
}

calculator {
    width: 300px;
    height: 400px;
    display: block;
    margin: 0 auto;
    background-color: rgb(236, 225, 225);
    border-radius: 16px;
    border: 1px solid black;
}

monitor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    background-color: white;
    border-radius: 16px;
    border-bottom: 1px solid black;
    height: 150px;
}

#dot {
    border-top: 1px dotted black;
    font-size: xx-large;
}

#y {
    background-color: orange;
    color: white;
}

#b {
    background-color: rgb(84, 214, 208);
    color: white;
}

monitor item {
    display: block;
    font-size: x-large;
    padding-top: 20px;
    padding-left: 10px;
}

keyboard {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: rgb(236, 225, 225);
    text-align: center;
    border-radius: 16px;
    border-bottom: 1px solid black;
}

keyboard key {
    display: block;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
}

@media(min-width:640px) {}

@media(min-width:768px) {}

@media(min-width:1024px) {}

@media(min-width:1200px) {}